{
  "extends": [
    "airbnb"
  ],
  "globals": {
    "document": true
  },
  "rules": {
    "comma-dangle": 0,
    "import/imports-first": 0,
    "import/no-unresolved": 1,
    "import/prefer-default-export": 0,
    "jsx-a11y/img-has-alt": 0,
    "max-len": 0,
    "no-var": 0,
    "react/no-multi-comp": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0
  }
}
